<!DOCTYPE html>
<html>
<head>
    <title>Edit Task</title>
</head>
<body>
    <h2>Edit Task</h2>
    <form method="post">
        <label for="task">Task Name:</label><br>
        <input type="text" id="task" name="task" value="{{ task['name'] }}"><br><br>
        
        <label for="priority">Priority:</label><br>
        <select id="priority" name="priority">
            <option value="Alta" {% if task['priority'] == 'Alta' %} selected {% endif %}>Alta</option>
            <option value="Media" {% if task['priority'] == 'Media' %} selected {% endif %}>Media</option>
            <option value="Baja" {% if task['priority'] == 'Baja' %} selected {% endif %}>Baja</option>
        </select><br><br>
        
        <label for="time">Time:</label><br>
        <input type="text" id="time" name="time" value="{{ task['time'] }}"><br><br>
        
        <label for="status">Status:</label><br>
        <select id="status" name="status">
            <option value="Iniciada" {% if task['status'] == 'Iniciada' %} selected {% endif %}>Iniciada</option>
            <option value="En proceso" {% if task['status'] == 'En proceso' %} selected {% endif %}>En proceso</option>
            <option value="Terminada" {% if task['status'] == 'Terminada' %} selected {% endif %}>Terminada</option>
        </select><br><br>
        
        <input type="submit" value="Update Task">
    </form>
</body>
</html>
